:root{
    --lightColor: white;
    --darkColor: black;

    --lightBackground: #EEEEEE;

    --lightDarkBackground: #222222;
    --darkBackground: #111111;

    --highlightedBackground: purple;

}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--lightDarkBackground);
}

#progressCircle{
    width: 15rem;
    height: 15rem;
    background-color: var(--darkBackground);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#innerProgressCircle{
    width: 90%;
    height: 90%;
    background-color: var(--lightDarkBackground);
    border-radius: 50%;
    z-index: 3;
}

#progressFillStrip{
    width: 10%;
    height: 50%;
    background-color: var(--highlightedBackground);
    position: absolute;
    top: 0;
    transform-origin: 50% bottom;
    
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: spinning;

    z-index: 2;
}

@keyframes spinning {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}